.select{
    width: 170px;
    height: 33px;
    margin-right: 34px;
    align-items: center;
    color: #2f2f2f;
    font-weight: 700;
   border: 1px solid #D7D9DF;
   text-align: center;
   outline: none;
   }