.css-cv58vo-MuiSlider-thumb {
    color: #1c62cd;
}

.aside-filter__input{
    width: 60px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 14px;
    font-size: 14px;
   }

  .aside-filter__text{
    color: #c4c4c4;
    margin-left: 40px;
}

.aside-filter__item-list{
    margin: 46px 0 40px;
}

option{
text-align: center;
cursor: pointer;
}