.breadcrumbs{
    margin-bottom: 40px;

    &__list{
        &-item{
        display: inline-block;
        align-items: center;
        margin-right: 5px;
        font-size: 15px;
        line-height: 18px;
        color: #c4c4c4;
      }
    }
   }

   .catalog{
    margin-bottom: 100px;
    &__inner{
        display: flex;
        &-aside{
            width: 290px;
            margin-right: 10px;
        }
        &-list{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 890px;
          }
        }
   
    &__title{
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 26px;
    }
    &__filter{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        &-items button{
              font-size: 14px;
              line-height: 17px;
              opacity: 0.7;
              border: none;
              cursor: pointer;
              border-radius: 3px;
              background: #f0f0f4;
              padding: 5px 22px;
              &__btn{
                background-color: transparent;
           border: none;
           cursor: pointer;
           margin: 0;
           padding: 0;
              }
        }
        &-button button{
           background-color: transparent;
           border: none;
           cursor: pointer;
           margin: 0;
           padding: 0;
        }
    }
   }

   .pagination{
    width: 100%;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
   }

   
