.products__title{
color: #2F3035;
font-size: 25px;
font-weight: 700;
margin-bottom: 25px;
}

.products__tabs {
    margin-bottom: 25px;
  + .products__tabs {
      margin-right: 50px;
    }
  }

  .products__more{
    margin: 35px 0 80px;
    text-align: center;
    &-link{
      color: #2F3035;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      background: #F0F0F4;
      padding: 16px 43px;
      display: inline-block;
    }
  }